.attention {
    color: red;
    font-weight: 500;
}

table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 1.1rem;
}

table th, table td {
    border: 1px solid #636363;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #910000;
    color: white;
}

table td {
    font-weight: 600;
}

.map-container {
    margin: auto;
    width: 90%;
}

.map-container iframe {
    border: 0;
    width: 100%;
    aspect-ratio: 3/4;
}

@media (min-aspect-ratio: 1/1) {
    .map-container iframe {
        aspect-ratio: 16/9;
    }
}