footer.phone {
    background-color: #910000;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo-group {
    width: 100px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 5%;
}

.logo-group a,
a.logo {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.logo {
    width: 32px;
    height: 32px;
}

.copyright {
    font-size: 0.8rem;
    color: #f4f4f4;
}

footer.pc {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

@media (min-aspect-ratio: 1/1) {
    footer.phone {
        display: none;
    }
    footer.pc {
        display: flex;
    }
}