html, body {
  overscroll-behavior: none;
}

body {
    font-family: Arial,
    "Noto Sans JP",
    sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding-bottom: 100px;
    width: calc(100% - 40px);
    max-width: 900px;
}

h1 {
    font-size: 1.4rem;
    color: white;
    background-color: #910000;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 1.3rem;
    color: white;
    background-color: #910000;
    padding: 8px 16px;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
}

p {
    padding: 0 10px;
}

@media (min-aspect-ratio: 1/1) {
    main {
        padding-bottom: 15px;
    }
}


