#menu {
    position: absolute;
    right: 0;
    top: 10px;
    width: 40px;
    height: 40px;
    padding: 10px;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
}

#menu:hover {
    background-color: #e6e6e6;
}

#menu span {
    height: 3px;
    width: 35px;
    background-color: black;
    position: absolute;
    transition: all .3s;
    left: 50%;
    transform: translateX(-50%);
}

#menu span:nth-of-type(1) {
    top: 20px;
}

#menu span:nth-of-type(2) {
    top: 29px;
}

#menu span:nth-of-type(3) {
    top: 38px;
}

#menu.open span:nth-of-type(1) {
    top: 29px;
    transform: translateX(-50%) rotate(-45deg);
}

#menu.open span:nth-of-type(2) {
    opacity: 0;
}

#menu.open span:nth-of-type(3) {
    top: 29px;
    transform: translateX(-50%) rotate(225deg);
}

#menu-section {
    display: none;
    flex-direction: column;
    transition: 0.3s;
    position: fixed;
    top: 106px;
    right: 15px;
    background-color: #910000e9;
    color: white;
}

#menu-section.open {
    display: flex;
}

#menu-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-section li.active {
    font-weight: bold;
    background-color: #00000034;
}

#menu-section li:hover {
    background-color: #00000034;
}

#menu-section a {
    font-size: 1.1rem;
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.5s forwards;
}

#menu-section ul li:nth-of-type(1) a { animation-delay: 0s; }
#menu-section ul li:nth-of-type(2) a { animation-delay: 0.05s; }
#menu-section ul li:nth-of-type(3) a { animation-delay: 0.1s; }
#menu-section ul li:nth-of-type(4) a { animation-delay: 0.15s; }
#menu-section ul li:nth-of-type(5) a { animation-delay: 0.2s; }

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.wide-menu {
    display: none;
    list-style: none;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 40px;
    padding: 0;
}

.wide-menu li {
    display: flex;
    align-items: center;
}

.wide-menu li.active {
    font-weight: bold;
    color: #b30000;
}

.wide-menu a {
    color: inherit;
    font-size: 1.2rem;
}

.wide-menu a:hover {
    font-weight: bold;
}

@media (min-aspect-ratio: 1/1) {
    #menu {
        display: none;
    }
    #menu-section,
    #menu-section.open {
        display: none;
    }
    .wide-menu {
        display: flex;
    }

}
