.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
    width: 190px;
    height: 40px;
    font-size: 1.2rem;
    margin: 15px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.mail:hover {
    background-color: #f1f1f1;
}

.mail img {
    width: 25px;
    height: 25px;
}

.mail:hover img {
    animation: mailHover 0.4s ease-in-out;
}

@keyframes mailHover {
    50% {
        transform: scale(1.1) translateY(-5px);
    }
    100% {
    }
}

.asterisk {
    font-weight: 500;
    color: #b30000;
}

.box {
    border: 1px solid black;
    padding: 0 10px 16px;
    margin: 25px 0;
}